a,
a:visited {
    color: rgb(255, 255, 255);
}

a:active,
a:hover,
.button:hover,
.btn:hover {
    color: red;
    border-left-color: red;
    border-right-color: red;
}

body,
nav,
.Dropdown,
.dropdown-item,
a:hover,
.btn,
button,
h1 {
    background-color: rgb(0, 0, 0);
    color: white;

}

nav {
    width: 100;
}

#top_arrow {
    background-color: rgb(0, 0, 0);
    margin-top: 56px;

}

#top_arrow {
    background-color: rgb(0, 0, 0);
    /* margin-bottom: 56px; */

}

body,
.simtas {
    height: 90%;
}

html {
    height: 100%;
}

.modal {
    color: black;
}